---
import type { MainSection } from '@/types/content'

import Photo from '@/components/Photo.astro'
import Description from '@/components/pdf/Description.astro'
import LabelledValue from '@/components/pdf/LabelledValue.astro'
import TagsList from '@/components/pdf/TagsList.astro'

export interface Props extends MainSection {}

const {
  image,
  fullName,
  role,
  details,
  pdfDetails,
  description,
  languages,
  tags,
} = Astro.props
---

<div class="flex flex-col gap-4">
  <div class="flex gap-6">
    <Photo
      src={image}
      alt={fullName}
      class="size-40 max-h-[160px] max-w-[160px] rounded-2xl"
    />
    <div>
      <div class="text-3xl font-extrabold text-gray-900">{fullName}</div>
      <div class="text-lg font-medium text-gray-700">{role}</div>
      <div class="grid grid-cols-[auto_auto] gap-x-4 gap-y-1 pt-4">
        {
          (pdfDetails ?? details).map(detail => (
            <LabelledValue
              {...detail}
              class={detail.fullRow ? 'col-span-2' : undefined}
            />
          ))
        }
      </div>
    </div>
  </div>
  <Description content={description} />
  <TagsList title="I speak" tags={languages} />
  <TagsList title="I'm available for" tags={tags} />
</div>
