---
import { SEO } from 'astro-seo'
import { Schema } from 'astro-seo-schema'

import { getSettings } from '@/utils/content'

const settings = await getSettings()

const { site, url } = Astro

const image = new URL('/og.webp', site || url).href
---

<!doctype html>
<html lang={settings.i18n.locale.code} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={settings.meta.title}
      description={settings.meta.description}
      openGraph={{
        basic: {
          title: settings.meta.title,
          type: 'website',
          image,
          url,
        },
        image: {
          width: 1200,
          height: 630,
          alt: `Presentation image of ${settings.schema.name}`,
        },
        optional: {
          description: settings.meta.description,
        },
      }}
      twitter={{
        creator: '@tinchoz49',
        image,
        card: 'summary_large_image',
        title: settings.meta.title,
        description: settings.meta.description,
      }}
    />
    <Schema
      item={{
        '@context': 'https://schema.org',
        '@type': 'Person',
        'name': settings.schema.name,
        'jobTitle': settings.schema.jobTitle,
        'knowsAbout': settings.schema.knowsAbout,
        'url': url.toString(),
        'image': new URL(settings.schema.image, url.toString()).toString(),
      }}
    />
  </head>
  <body
    class="flex justify-center overflow-x-hidden bg-gray-50 dark:bg-gray-900 xl:relative xl:left-7"
  >
    <slot />
  </body>
</html>
